body{
    margin: auto;
}

.parent {
    display: flex;
    width: 100%;
    /* gap: 10px; */
}

.child {
    min-height: 100px; /* set a minimum height of 100px */
    height: auto; /* allow the height to increase with content */
    width: clamp(20%, 50%, 80%);
    margin: 0px;
}

.child:first-child {
    background-color: tomato;
}

.child:last-child {
    background-color: yellowgreen;
}